.option-container {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    width: 700px; /* Adjust the width as needed */
    height: 38px; /* Adjust the height as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0.5px 0.5px 2px lightblue; /* Adjust the shadow color and size as needed */
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
    display: flex;
  }
  
  .col-1 {
    flex: 1; /* Take up all available space */
    background-color: #e0e0e0; /* Add background color if needed */
    padding: 10px; /* Add padding as needed */
  }
  
  .col-2 {
    flex: 1; /* Take up all available space */
    background-color: #f0f0f0; /* Add background color if needed */
    padding: 10px; /* Add padding as needed */
  }

.question
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width: 700px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question-drag 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    font-size: larger;
    width: 700px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.congratulation-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.ribbon {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: #ffeb3b;
  border-radius: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.ribbon::before,
.ribbon::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffeb3b;
}

.ribbon::before {
  top: 0;
  left: 0;
  border-top-left-radius: 50%;
}

.ribbon::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 50%;
}

.congratulation-message {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
  text-align: center;
}
